CalculatorServiceClient/CalculatorServiceClient/Service References/ServiceReference1/CalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICalculatorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculatorService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_sum_InputMessage">
    <wsdl:part name="parameters" element="tns:sum" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_mul_InputMessage">
    <wsdl:part name="parameters" element="tns:mul" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_mul_OutputMessage">
    <wsdl:part name="parameters" element="tns:mulResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_div_InputMessage">
    <wsdl:part name="parameters" element="tns:div" />
  </wsdl:message>
  <wsdl:message name="ICalculatorService_div_OutputMessage">
    <wsdl:part name="parameters" element="tns:divResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculatorService">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorService/GetName" message="tns:ICalculatorService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorService/GetNameResponse" message="tns:ICalculatorService_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorService/sum" message="tns:ICalculatorService_sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorService/sumResponse" message="tns:ICalculatorService_sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mul">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorService/mul" message="tns:ICalculatorService_mul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorService/mulResponse" message="tns:ICalculatorService_mul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="div">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorService/div" message="tns:ICalculatorService_div_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorService/divResponse" message="tns:ICalculatorService_div_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculatorService" type="tns:ICalculatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/ICalculatorService/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <soap:operation soapAction="http://tempuri.org/ICalculatorService/sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap:operation soapAction="http://tempuri.org/ICalculatorService/mul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
      <soap:operation soapAction="http://tempuri.org/ICalculatorService/div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICalculatorService" type="tns:ICalculatorService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICalculatorService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetName">
      <soap12:operation soapAction="http://tempuri.org/ICalculatorService/GetName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <soap12:operation soapAction="http://tempuri.org/ICalculatorService/sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap12:operation soapAction="http://tempuri.org/ICalculatorService/mul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
      <soap12:operation soapAction="http://tempuri.org/ICalculatorService/div" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="BasicHttpBinding_ICalculatorService" binding="tns:BasicHttpBinding_ICalculatorService">
      <soap:address location="http://localhost:8080/CalculatorService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICalculatorService" binding="tns:NetTcpBinding_ICalculatorService">
      <soap12:address location="net.tcp://localhost:8090/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-QLOJ42N\codemen</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>